header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem;
    align-items: center;
}
header ul{
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
}
header ul li{
    border-bottom: 1px solid black;
}

/* HOME STYLES */
#home{
    padding: 0rem 7rem;
    padding-top: 3rem;
}
#home .container{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
#home .container .content{
    padding: 1rem;
}
#home .container .content p{
    letter-spacing: 3px;
}
#home .container .image{
    position: relative;
}
#conclave{
    z-index: 49;
}
#vr{
    z-index: 90;
}

/* ABOUT STYLE  */

#about{
    background: #d7d7d7;
    padding: 5rem;
}
#about p{
    line-height: 1.5rem;
}
#about .container{
    background-image: linear-gradient(to bottom, rgb(210, 56, 0), rgb(111, 30, 0));
    color: white;
    padding: 2rem;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
#about .container .image{
    padding: 5rem;
}
#about .container .image img{
    border-radius: 50%;
}